[Desktop Entry]
Categories=Utility;
Comment[hu_HU]=Python venv + PyQt5 telepítése a Kijelzo-hoz
Comment=Python venv + PyQt5 telepítése a Kijelzo-hoz
Exec=konsole -e bash -c /home/szaboger/Projects/Kijelzo/install-venv.sh
GenericName[hu_HU]=
GenericName=
Icon=utilities-terminal
MimeType=
Name[hu_HU]=Kijelző venv telepítő
Name=Kijelző venv telepítő
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
